<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Vowels Remover</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css')}}"
    />
  </head>
  <body>
    <form action="removeVowels" method="post">
      <h1>Vowels Remover</h1>
      <br />
      {% for message in get_flashed_messages()%}
      <h2>{{message}}</h2>
      {% endfor %}
      <br />
      <input type="text" name="input" />
      <br />
      <input type="submit" value="Remove Vowels" id="btn" />
    </form>
  </body>
</html>
